body {
  font-family: "Poppins", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
  font-family: "Playfair Display", sans-serif;
}
/* Navbar */
nav,
li,
.nav-container {
  background-color: #f9f7fe;
}
nav {
  width: 100%;
}
ul {
  padding-left: 0;
  background-color: #f9f7fe;
  padding-right: 40px;
}
nav li {
  display: inline;
  padding: 10px;
  /* font-family: "Roboto", sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 19px; */

  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}
nav,
a:hover {
  color: #6c63ff !important;
}

nav a {
  text-decoration: none;
  /* color: #6c63ff; */
  color: #272142;
  opacity: 70%;
}

.active {
  color: var(--third-color);
}
#rescue {
  color: #6c63ff !important;
  font-weight: bold;
  font-size: 16px;
  padding-left: 40px;
}

/* hero */
.hero {
  /* background-color: #f9f7fe; */
  /* background-image: url(https://images.unsplash.com/photo-1540653767498-cd679b1faa23?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2089&q=80); */
  background-image: url(https://images.unsplash.com/photo-1604480457798-09bc10dd3c6c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
  background-size: cover;
}

.hero h1 {
  font-size: 75px !important;
  padding-top: 100px;
}

.subheading {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
  margin-top: 50px;
  color: #fff;
}

.button .btn {
  color: #fff !important;
  background-color: #6c63ff !important;
  margin-bottom: 40px;
  border-radius: 4px;
  font-family: "Poppins" sans-serif;
  padding: 10px 40px;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
}
.social-links i {
  color: black !important;
}
.social-links i:hover {
  color: #6c63ff !important;
}

/* happy tails section */
.description {
  background-color: #f9f7fe;
}
.happy-tails .container {
  background-color: #f9f7fe;
}
.project-name {
  margin-top: 20px;
  font-size: 50px !important;
}
.project-description {
  font-size: 25px;
}

/* footer */
.links i {
  color: #6c63ff !important;
}
.links {
  background-color: #f9f7fe;
}
.rights {
  font-size: 10px;
}

/* adopt page */

.puppy-pic {
  width: 100%;
  height: auto;
}
.adopt-header {
  font-size: 60px !important;
}

/* foster page */

.foster p {
  font-size: 22px;
}

.quote p {
  font-size: 30px;
}
.quote .author {
  font-size: 20px;
}

/* involved page */

.main {
  background-image: url(https://images.unsplash.com/photo-1424709746721-b8fd0ff52499?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80);
  /* background-image: url(https://images.unsplash.com/photo-1601758174811-a04aad8f2245?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1050&q=80); */
  /* background-image: url(https://images.unsplash.com/photo-1489440543286-a69330151c0b?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2250&q=80); */
  background-repeat: no-repeat;
  background-size: cover;
}
.main h1 {
  padding: 180px;
  font-size: 80px;
  color: #fff;
}

.volunteer-donate li {
  background-color: #fff;
}
.volunteer-donate ul {
  background-color: #fff;
}

.donate-btn {
  margin-right: 30px;
  display: inline;
}

#quote {
  background-color: #f9f7fe;
}

.links-container {
  background-image: url(https://images.unsplash.com/photo-1553434133-96822a8e94af?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1646&q=80) !important;
  background-size: cover;
  color: #6c63ff;
  height: 70vh;
}
.large-links {
  /* padding-top: 60px; */
}
.large-links i {
  color: #fff;
}

.large-links i:hover {
  color: #6c63ff;
}
.large-links h2 {
  color: #fff;
}
.h2-wrap {
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  opacity: 90%;
}
.color-container .difference {
  font-size: 70px;
  /* background-color: black; */
  margin: 0 !important;
  /* margin-top: 160px !important; */
  /* color: black !important; */
  font-weight: bold !important;
}

.color-container {
  background-color: black;
}
